<%-include('./header.ejs')%>
<div class="contentScroll">
    <div class="contentSpacer"></div>
    <div class="contentBox">
        <div class="contentTitle">
            <h1>Film</h1>
        </div>
        <div class="contentBody">
            <div>

                <%-include('../svgs/reels.ejs')%>
            </div>
            <div>

                <p>
                
                    At MadLad's Lab, we specialize in creating compelling and dynamic film content. Whether it's video production, editing, or special effects, our team ensures that your vision comes to life.
                </p>
                <ul>
                    <li>Professional video editing and post-production</li>
                    <li>Special effects integration</li>
                    <li>Engaging storytelling through cinematic techniques</li>
                    <li>High-quality content for online marketing and promotions</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="contentBox">
        <div class="contentTitle">
            <h1>Editing</h1>
        </div>
        <div class="contentBody">
            <%-include('../svgs/editing.ejs')%>

            <p>
                Editing is the backbone of all great content. From fine-tuning video footage to enhancing images, we offer top-tier editing services that ensure your brand is visually stunning.
            </p>
            <ul>
                <li>Image and video optimization</li>
                <li>Creative and precise editing services</li>
                <li>Seamless integration with your existing content</li>
                <li>Attention-grabbing visuals for social media and websites</li>
            </ul>
        </div>
    </div>

    <div class="contentBox">
        <div class="contentTitle">
            <h1>Web Applications</h1>
        </div>
        <div class="contentBody">
            <%-include('../svgs/webapp.ejs')%>

            <p>
                MadLad's Lab builds scalable and robust web applications tailored to your business needs. From sleek websites to interactive platforms, we provide solutions that grow with your business.
            </p>
            <ul>
                <li>Custom web application development</li>
                <li>Responsive design for all devices</li>
                <li>Interactive user experiences</li>
                <li>Marketing assets that drive engagement and sales</li>
                <li>Fully scalable platforms to support future growth</li>
            </ul>
        </div>
    </div>
</div>





 
<%-include('./footer.ejs')%>
<%-include('../auth/index.ejs')%>
</div>

