<%-include('./header.ejs')%>
<h1 class="accent textDepth">Welcome to madLad'sLab</h1>
<h3>This website, all assets included are 48 hours old, and still under construction.</h3>
<div class="contentScroll">
  
    <div class="contentBox">
        <div class="contentTitle">
            <h1 class="accent textDepth">Web Applications</h1>
            <%-include('../svgs/webapp.ejs')%>

        </div>
        <div class="contentBody">
            <video class="introVideo" muted autoplay loop src="videos/editing.mp4"></video>
            <p class="accent textDepth">
                MadLad's Lab delivers scalable, feature-rich web applications designed to meet the unique needs of your business. From simple sites to complex interactive platforms, we ensure your digital presence grows with your business.
            </p>
            <p>Servicing : Anywhere</p>
            <ul>
                <li>Custom web application development</li>
                <li>Responsive design across devices</li>
                <li>Interactive user experiences</li>
                <li>Marketing-focused assets to boost engagement and sales</li>
                <li>Scalable platforms that evolve with your growth</li>
            </ul>
        </div>
    </div>
    
    <div class="contentSpacer"></div>
    
    <div class="contentBox">
        <div class="contentTitle">
            <h1 class="accent textDepth">Film | SFX | Edits</h1>
            <%-include('../svgs/reels.ejs')%>
        </div>
        <div class="contentBody">
            <video class="introVideo" muted autoplay loop src="videos/editing.mp4"></video>
                <p class="accent textDepth">
                    We excel at producing high-quality, visually stunning film content. From creative video editing to seamless special effects, we turn your vision into captivating storytelling.
                </p>
                <p>Servicing:Denver Area and All of Northern Colorado, Editing: Anywhere</p>
                <ul>
                    <li>Professional video editing and post-production</li>
                    <li>Special effects and visual integration</li>
                    <li>Cinematic storytelling for impactful narratives</li>
                    <li>High-quality content optimized for online marketing and promotions</li>
                </ul>

        </div>
    </div>

    <div class="contentSpacer"></div>
    
    <div class="contentBox">
        <div class="contentTitle">
            <h1 class="accent textDepth">Custom Assets</h1>
            <%-include('../svgs/editing.ejs')%>
        </div>
        <div class="contentBody">
            <video class="introVideo" muted autoplay loop src="videos/editing.mp4"></video>
            <p class="accent textDepth">
                Our custom assets are crafted to elevate your brand. From precise video editing to stunning visual enhancements, we offer high-quality services to ensure your content stands out.
            </p>
            <p>Servicing : Anywhere</p>
            <ul>
                <li>Image and video enhancement</li>
                <li>Creative and meticulous editing services</li>
                <li>Seamless integration with your existing content</li>
                <li>High-impact visuals for websites and social media</li>
            </ul>
        </div>
    </div>

</div>
<h2>Live development is a challenge, but it provides transparency and peace of mind for our clients.</h2>
<h2>This version is an Example of a static website. Quickly designed and deployable.</h2>
<h3>Whats included in a static website?</h3>
<ul>
    <li>Secure Domain with HTTPS</li>
    <li>Custom SVG's</li>
    <li></li>
</ul>
<%-include('./footer.ejs')%>
<%-include('../auth/index.ejs')%>
</div>
