<%- include('_header') %>
  <section class="download">
    <h1>Download MediaHasher</h1>
    <p>License: <code><%= license.key %></code> (<%= license.type %>)</p>
    <% if (!installers.length) { %>
      <p class="banner warn">No installers are available yet. We'll email you when the first build is published.</p>
    <% } else { %>
      <ul class="installer-list">
        <% installers.forEach(i => { %>
          <li>
            <a href="/download/file?key=<%= encodeURIComponent(i.key) %>"><%= i.key.split('/').pop() %></a>
            <span class="meta"><%= (i.size/1024/1024).toFixed(1) %> MB · <%= new Date(i.lastModified).toLocaleDateString() %></span>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </section>
<%- include('_footer') %>
