<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

   <style>
      body {
        margin: 0;
        overflow: hidden;
        background: linear-gradient(to bottom, teal, purple); /* Gradient background */
      }
    </style>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    
   
  </head>
  <body>
    <h1 style="display: none;"><%= title %></h1> <!-- Hidden for a clean background -->
    <p style="display: none;">Welcome to <%= title %></p> <!-- Hidden as well -->

<%-include('controls/sceneControls.ejs')%>
<%-include('three/firstScene.ejs')%>

  </body>
</html>
