<%- include('../layout/header') %>

<div class="error-page">
  <h1><%= typeof title !== 'undefined' ? title : 'Error' %></h1>
  <p><%= typeof message !== 'undefined' ? message : t('errors.somethingWrong') %></p>
  <a href="/" class="btn btn-secondary"><%= t('errors.goHome') %></a>
</div>

<%- include('../layout/footer') %>
