<html>
    <head>
        <link rel="icon" type="image/png" href="/images/simmons/emojicon.png">
        <meta name="facebook-domain-verification" content="834yvsr0tr68eevl291uhwkt4nsd1c" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <meta property="og:title" content="madLadsLab.com" />
        
        <meta property="og:description" content="Web Applications, Video, Email, IT" />
        <meta property="og:image" content="https://madladslab.com/images/madTitle.jpg" />
        <meta property="og:url" content="https://madladslab.com" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <div class="main">
        <%-include('../banners/logoBannerApp.ejs')%>
                <div class="signUpForm">
<form action="/api/v1/helpers/Volunteer" method="post">
            <h2>Volunteer Signup</h2>

            <% Object.keys(formElements).forEach(key => { %>
            
                <% if (formElements[key].type === 'text' || formElements[key].type === 'email' || formElements[key].type === 'tel') { %>
                    <div class="form-group">
                        <label for="<%= key %>"><%= key %>:</label>
                        <input type="<%= formElements[key].type %>" name="<%= key %>" id="<%= key %>" value="" required>
                    </div>
                <% } else if (formElements[key].type === 'dropdown') { %>
                    <div class="form-group">
                        <label for="<%= key %>"><%= key %>:</label>
                        <select name="<%= key %>" id="<%= key %>" required>

                            <% formElements[key].value.options.forEach(option => { %>
                                <option value="<%= option %>"><%= option %></option>
                            <% }); %>
                        </select>
                    </div>
                <% } else { %>
                    <div class="form-group">
                        <label for="<%= key %>"><%= key %>:</label>
                        <input type="<%= formElements[key].type %>" name="<%= key %>" id="<%= key %>" value="" required>
                    </div>
                <% } %>
            <% }); %>
            <button type="submit">Submit</button>
            </form>

            
            <p class="textDepthFine">Join the campaign to make Greeley a better place for all of us.
                We will never share your information with anyone.
                By joining, you agree to receive updates and information about the campaign.
                You can unsubscribe at any time.
                Thank you for your support
            </p>
        </div>
        <a href="/">home</a>
        <%-include('../mainContent/footer.ejs')%>
    </div>
    <%-include('../scripts/index.ejs')%>

</body>
</html>


</body>
</html>

