<div class="contentScroll">
    <div class="contentBox">
        <div class="contentTitle">Search Index</div>
        <div class="contentBody">
            <label for="model-select">Select Model:</label>
            <select id="model-select">
                <option value="">-- Select a Model --</option>
                <% models.forEach(model => { %>
                    <option value="<%= model %>"><%= model %></option>
                    <% }); %>
                </select>
                
                <label for="searchBar">Search:</label>
                <input type="text" id="searchBar" placeholder="Type to search..." autocomplete="off">
                
                <div id="searchReturn"></div>
            </div>
        </div>
        <div class="contentBox">
    <div class="contentTitle">Search All</div>
    <select id="model-select" onchange="fetchModelItems(this.value)">
        <option value="">-- Select a Model --</option>
        <% models.forEach(model => { %>
            <option value="<%= model %>"><%= model %></option>
        <% }); %>
    </select>
    
    <div id="searchReturn"></div>
    
    <script>
        function fetchModelItems(modelName) {
            if (!modelName) return document.getElementById('searchReturn2').innerHTML = '';
    
            fetch(`/api/v1/helpers/${modelName}`)
                .then(res => res.json())
                .then(data => {
                    const html = data.map(item => `<pre>${JSON.stringify(item, null, 2)}</pre>`).join('');
                    document.getElementById('searchReturn2').innerHTML = html;
                });
        }
    </script>
    
    <div id="searchReturn2"></div>
    
     

</div>



    <div class="contentBox">
        <div class="contentTitle">
<button id="openAddForm">add</button>
<button id="openEditForm">edit</button>

        </div>
        <div id="addFormDiv" class="contentBody">
      <%-include('./forms/addForm.ejs')%>
        </div>
        <div id="editFormDiv" class="contentBody">
      <%-include('./forms/editForm.ejs')%>
        </div>

    </div>
 <!--recipe-->
 <!--type batch-->
 <!--measurment-->
 <!--container-->
 <!---->
</div>
