<h1>Some News Article</h1>
<h2>Admin Panel</h2>

<% if (typeof models === 'object' && models) { %>
    <% Object.entries(models).forEach(([key, model]) => { %>
        <h5 id="<%= key %>"><%= key %></h5>
        <% if (model._id) { %>
            <p>Model ID: <%= model._id %></p>
        <% } %>
        <div class="modelBlocks">
            <p id="add_<%= key %>">add</p>
            <p id="edit_<%= key %>">edit</p>
            <p id="delete_<%= key %>">delete</p>
        </div>
    <% }) %>
<% } %>

<a href="/">home</a>

<%- include('./scriptsAdmin/index.ejs') %>
