<h6>
  Edit Models
</h6>
<br>
<%if(typeof modelName === 'object' && modelName){%>
<form id="edit-form" action="/api/v1/models/<%= modelName %>/<%= document._id %>?_method=PUT" method="POST">
  <% Object.keys(modelFields).forEach(function(key) { %>
    <label for="<%= key %>"><%= key %></label>
    <input type="<%= modelFields[key].type || 'text' %>" 
           name="<%= key %>" 
           id="<%= key %>" 
           value="<%= document[key] %>">
    <br>
  <% }) %>

  <button type="submit">Update</button>
</form>
<%}else{%>
  no models detected
  <%}%>