<head>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div style="height: 96%;" class="selectBox">

    <form style="height: 100%;" action="/grafitti/update/<%= model %>/<%= doc._id %>" method="POST">
      <% for (let key in doc) { if (key !== '_id') { %>
        <div  class="selectBox">
          <label><%= key %></label>
          <input type="text" name="<%= key %>" value="<%= doc[key] %>">
        </div>
      <% }} %>
      <button type="submit">Save</button>
    </form>

</div>
